body {  
    margin-top: 100px;  
    margin-bottom: 100px;  
    margin-right: 150px;  
    margin-left: 80px;  
    background-color: azure ;  
    color: palevioletred;  
    font-family: verdana;  
    font-size: 100%  
}
    
h1,
h2 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;  
}  

h3 {  
    color: indigo;  
    font-family: verdana;  
    font-size: 100%;
}

.input {
    margin-left: 10px
}